@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-5">DotNet Razor Pages EFCore Database First Approach Sample</h2>
</div>

<br/>

<div class="text-center">
    <a href="/Departments/Index" class="btn btn-primary">Departments</a>
    <a href="/Employees/Index" class="btn btn-primary">Employees</a>
    <a href="/Skills/Index" class="btn btn-primary">Skills</a>
    <a href="/EmployeeSkills/Index" class="btn btn-primary">Employee Skills</a>
</div>
